[2015-01-11 15:03] toastertaster opened #20 "Add entries to .gitignore"
Add .cproject, .project, .build.properties, build.xml and .settings/ to the .gitignore

Prevents decent collaboration while these file changes are tracked

[2015-01-11 15:06] toastertaster commented on #20
In your commit message, use #20 to reference this issue.

For example: "This commit fixes #20 and adds Eclipse files to gitignore"

[2015-01-11 16:44] toastertaster opened #21 "Choose names for the software projects of the robot"
I'd like a name for the:
- C++ project
- Vision processing project

[2015-01-11 16:51] toastertaster opened #22 "Correctly set up Driver Station laptop"
I want someone to set up one of the E12 laptops and one of the ASUS Laptops to be a driver station.

From Ron Baer (read _thoroughly_)
We have 2 classmate E12 laptops as driver stations.  I upgraded 1 to 2015 by re-imaging it.  It has a post-it note saying 2015 driver station.  I imaged the laptop and ran the Windows upgrades.  It still need the Jan 2015 FRC updates applied.  It also has the devel

[2015-01-11 16:54] toastertaster opened #23 "Creating files in the project Subsystem"
Create new source file for
- Subsystems
  - DriveTrain

[2015-01-11 16:55] toastertaster opened #24 "Creating files in the project Commands"
Using separate commits, create the files for:
- Commands
  - Drive
  - AutonomousSimple

[2015-01-11 16:57] toastertaster opened #25 "Creating the most simple autonomous"
After #24 is closed, create the code in the appropriate file for
- a simple Autonomous to drive forward for 4 seconds and stop.  Implemented as a Command     AutonomousSimple

[2015-01-11 21:08] WardBenjamin commented on #22
Jeff Tolbert said he'd take care of this in addition to adding the driver station to his own laptop.

[2015-01-11 22:01] toastertaster commented on #22
Good insight.  You should assign this issue to Jeff in the right side column.

[2015-01-11 22:37] toastertaster opened #26 "All members must enable notifications on the programming forum"
After logging into the Chantilly forums, Click Programming, On the right side click Notify (above the list of threads).

Also do this for the Announcements topic.

Leave a comment below that you have done this.

[2015-01-11 23:14] calvin-godfrey commented on #26
Calvin Godfrey, done.

[2015-01-12 00:53] WardBenjamin commented on #22
Done. I need to remember that I can add people other than myself to tasks.

[2015-01-12 00:55] WardBenjamin commented on #26
Benjamin Ward, done. Also, everyone needs to be "watching" this repository to see updates in issues, etc. Tell people to do this if they haven't already.

[2015-01-12 01:36] WardBenjamin opened #27 "All members must install and correctly configure IDE and toolchain."
See my guide at https://github.com/Chantilly612Code/612-2015/wiki/Instructions-for-IDE-setup for completion. Post a comment on this issue if help is required.

[2015-01-12 02:45] CarlyAmar commented on #26
I'm not going to have notifications since I always check all forums anyway.

[2015-01-12 16:55] WardBenjamin commented on #26
Just do it @ZackAlfakir. I check the forums all of the time as well, but
getting notifications via email gets the messages to me much quicker.

On Sun, Jan 11, 2015 at 9:45 PM, ZackAlfakir notifications@github.com
wrote:

##

Benjamin Ward

[2015-01-13 03:49] toastertaster opened #29 "Correctly set up D-link router"
Use the D-link router configuration tool to set up the D-link.

[2015-01-13 03:54] toastertaster opened #30 "Set up the ASUS laptop"

[2015-01-13 03:55] toastertaster opened #31 "Set up one of the E12 netbooks"

[2015-01-13 04:08] toastertaster opened #32 "Add files to the project subsystems"
In the Subsystems folder, create the .cpp files for:
Elevator, Latch

[2015-01-13 04:10] toastertaster opened #33 "Add files to the project Commands"
Create the following .cpp files in the Commands folder:
ElevatorUp, ElevatorDown, ElevatorToPosition

You can use the ExampleCommand.cpp as a template for how to create these files (don't delete the example, though).

[2015-01-13 04:12] toastertaster opened #34 "Set up the camera for the robot"
It probably needs to be configured correctly according to the WPI screensteps live website.

See about getting it working with the robotrio after it is configured.

[2015-01-13 04:16] toastertaster opened #35 "Install Roborealm on your computer"
Who is interested in working on vision ?

I have the new RoboRealm licenses, but only a few computers can have it installed.  So need to determine who is going to do this.

[2015-01-13 04:18] toastertaster opened #36 "Mecanum drive programming options"
After our visit to Oakton, we might hear about what they have done.  We can look online for existing implementations, or work on our own if necessary.

Who wants to work on this?

[2015-01-13 04:22] toastertaster opened #37 "Elevator programming"
The elevator will need some work on the programming.  An elevator with a lot of weight on it (i.e., several crates) will have a tendency to sag over time and lower.  Since we're going to have a sensor to measure the vertical position of the elevator, we'll be able to determine if this is occurring and to lift the elevator automatically.  This would allow us to maintain height.

We can also do some

[2015-01-13 13:06] #20 closed, assigned to CarlyAmar

[2015-01-13 16:53] WardBenjamin commented on #22
I'm handeling the E12, but @JeffTolbert still needs to install the driver station on his own laptop.

[2015-01-13 20:52] WardBenjamin commented on #21
May I suggest Ascendor?

[2015-01-13 21:48] WardBenjamin commented on #22
Alright, 2015 Update downloaded and is unzipping (taking about 20 years though). The NI thing for the vision software will take another 19 mins to download, so idk if this will be done tonight since I have to install that first.

[2015-01-13 23:48] Ahmad-Bamba commented on #36
I can take a look at it. Do you have any notes from Oakton we can look at?

[2015-01-14 00:11] CharlesCDietzel commented on #26
Champ Dietzel, Done.

[2015-01-14 00:35] Ahmad-Bamba commented on #26
Ahmad Bamba. Done.

[2015-01-14 00:59] Ahmad-Bamba commented on #35
Vision is something that I really wanted to work on. Once we have more info on how vision will work that is.

[2015-01-14 03:41] toastertaster commented on #36
We learned:
- Oakton used 1 joystick.  Left/Right were strafing.  The joystick z-axis (twisting) is rotation.  Swaraj indicated that you all want to use an x-box controller, so you'd have buttons to do rotation (or strafing) instead.
- WPI Lib has a Mecanum class to use (not in RobotDrive, but its own class)
- Combining strafing directions, the robot can do things like rotation+strafing, strafing

[2015-01-14 03:42] toastertaster commented on #36
Please assign yourself to this issue if you want to work on it.

[2015-01-14 04:49] saileshsridhar commented on #36
I will help Ahmad.

On Tuesday, January 13, 2015, Toastertaster notifications@github.com
wrote:

[2015-01-14 11:46] CarlyAmar commented on #21
I suggest Clank, because last year the robot official name was Ratchet

[2015-01-14 14:09] WardBenjamin commented on #21
Not bad.

[2015-01-16 02:14] toastertaster opened #39 "Add sponsors to README.md"
the branch `doc-README` has some improvements to the README.md file.  I think it would be prudent to add the team's sponsors to the README.  Do so above the list of contributors.

[2015-01-16 02:33] ZachPerkins1 commented on #26
A bit late but, Zach Perkins, Done.

[2015-01-16 19:25] Alexbay218 commented on #21
I like Clank

(i get the reference :)

[2015-01-16 19:25] Alexbay218 commented on #25
should be simple. I'll try this one

[2015-01-16 21:32] CharlesCDietzel commented on #21
I actually like clank too. Purely because of the name, not the reference.

[2015-01-17 14:46] CharlesCDietzel commented on #36
I am also helping.

[2015-01-17 15:40] ghost opened #47 "Create code for Pneumatic Fork Lift"
Needs two commands closeForks() and openForks()

[2015-01-17 15:40] calvin-godfrey opened #48 "Mechanical asked for test code for two talons"

[2015-01-17 15:50] #31 closed, assigned to WardBenjamin

[2015-01-17 16:17] #22 closed, assigned to WardBenjamin

[2015-01-17 16:18] CharlesCDietzel commented on #33
Completed as of pull request #43. Closing.

[2015-01-17 16:18] #33 closed, assigned to CDietzel

[2015-01-17 17:44] PaolaHenriquez opened #49 "Left JoyStick with third Talon"
Our mechanical team wanted us to test a third independent Talon

[2015-01-17 20:31] #49 closed, assigned to PaolaHenriquez

[2015-01-17 20:31] CarlyAmar opened #51 "PDB Class"
Create a class that will monitor the power draw of the PDB and the analog breaker for power

[2015-01-17 22:09] toastertaster commented on #32
This has been merged to `master` and the issue can be closed.  Nice work!

[2015-01-17 22:11] toastertaster commented on #25
Need work against commit SHA: a5227fe8d9b507d09ebc0b923c037ce489ddc03b
1. CommandAutonomousSimple::Execute() has errors  Cannot use Talon(N) in this manner.  (You should call a subsystem method to do this instead of trying to have 4 variables)
2. CommandAutonomousSimple::End() has errors Cannot delete Timer (which is a class, not a variable)
3. Please don't do a -> b() but do use a->b()  (bad spac

[2015-01-17 23:09] toastertaster commented on #24
These files were created, so this issue should be closed.

[2015-01-17 23:10] toastertaster commented on #51
Wow, this is a great idea!  I want this in week 3, so I'm assigning the milestone.

[2015-01-17 23:13] toastertaster commented on #21
We didn't ask today, but perhaps last call is on Tuesday.  I'd like this to be decided by then, and this issue closed by Tuesday night.

[2015-01-17 23:15] WardBenjamin commented on #21
Definitely. That works for me, and I'm sure that will be fine with everyone else.

[2015-01-17 23:16] WardBenjamin commented on #35
Have at it, @Ahmad-Bamba.

[2015-01-17 23:17] #30 closed, assigned to CarlyAmar

[2015-01-17 23:20] WardBenjamin commented on #29
I think that this should be done next meeting if possible. It would make it possible for others than Zack and I to deploy code more easily.

[2015-01-17 23:57] toastertaster opened #54 "Latch.cpp/.h and Elevator.cpp/.h are in the wrong folder"
The 4 files are in the `Commands` folders, but these are not commands.  They belong in the `Subsystems` folder.

Rather than deleting the files (using `git rm`), you should use `git mv` to move the files to the appropriate directory.

[2015-01-18 00:22] #32 closed, assigned to calvin-godfrey

[2015-01-18 00:23] #24 closed, assigned to WardBenjamin

[2015-01-18 00:24] CarlyAmar commented on #29
I dont believe we actually have power for the router yet, so we need to talk to electrical. Also, configuring the router is done by the FRC bridge configuration tool FYI

[2015-01-18 00:39] toastertaster opened #55 "Consolidate ports.h and RobotMap.h"
These two files seem to serve the same purpose, so I would consolidate to one.

[2015-01-18 01:48] WardBenjamin commented on #29
If you remember, we got it on the second day that we got the kitbot. I don't know where it is currently, but it was attached to the kitbot when we last had it. Hopefully mechanical hasn't lost it.

[2015-01-18 02:16] WardBenjamin commented on #27
I am going to close this as I believe that everyone has completed this.

[2015-01-18 02:16] #27 closed, assigned to nobody

[2015-01-18 15:40] toastertaster commented on #54
Good job on naming the branch.  If you create a pull request, we can get this accepted into `master` and close this issue!

Edit: You made this change off `kitbot`, but we need you to make the commit off `master`.
I believe you can use `git rebase master` while you are in the `bug-movefiles` branch.

You might need to use `git push --force bug-movefiles` to push (without the force you might get an

[2015-01-19 17:35] toastertaster opened #59 "Add a url to the project README.md for documentation"
Since Zach has posted updated documentation to the `gh-pages` branch, we should put a link to the web address for it https://chantilly612code.github.io/612-2015/ in the `README.md` file.

Rather than just pasting the URL in the file, add a section on Documentation and include a description of what this documentation is related to.  You'll have to use [Markdown](http://daringfireball.net/projects/m

[2015-01-20 00:45] WardBenjamin commented on #23
This was completed with https://github.com/Chantilly612Code/612-2015/pull/58, which is currntly unmerged.

[2015-01-20 02:24] CharlesCDietzel commented on #55
This issue has already been completed in #58, so I am closing it.

[2015-01-20 02:24] #55 closed, assigned to WardBenjamin

[2015-01-21 00:11] CarlyAmar commented on #26
Everyone said they did ! :smiley:

[2015-01-21 00:11] #26 closed, assigned to nobody

[2015-01-21 00:12] Alexbay218 commented on #25
Zack should have fix the errors

[2015-01-21 00:12] #25 closed, assigned to Alexbay218

[2015-01-21 00:20] CharlesCDietzel commented on #48
Code to test all talons should already be provided within the TestMotors class. Therefore, I will mark this as done.

[2015-01-21 00:20] #48 closed, assigned to calvin-godfrey

[2015-01-21 00:21] CharlesCDietzel commented on #39
Do we have a list of sponsors? If so, where are they?

[2015-01-21 00:22] CharlesCDietzel commented on #23
#58 is now merged, so I will close this.

[2015-01-21 00:22] #23 closed, assigned to WardBenjamin

[2015-01-21 00:30] CharlesCDietzel commented on #21
I uhh... don't know if this issue can ever really be closed until the name is actually finalized, which may or may not ever actually ever happen. So I kind of feel like this issue should either be closed now and moved to the forums where it can live on indefinitely, or else be closed... or something... I don't actually know. Thoughts?

[2015-01-21 00:33] CarlyAmar commented on #21
CLANK!!!!!!!

[2015-01-21 00:33] #21 closed, assigned to nobody

[2015-01-21 00:45] calvin-godfrey opened #65 "Test Mecanum Drive"

[2015-01-21 00:45] calvin-godfrey opened #66 "Get the camera working on the robot (viewable on the Driver station laptop)"

[2015-01-21 00:49] ZachPerkins1 opened #67 "Investigate using LEDs on the robot as feedback to the driver"

[2015-01-21 00:52] ZachPerkins1 opened #68 "Create 2 programmed Elevator positions to carry totes (changed via button push)"

[2015-01-21 00:57] ZachPerkins1 opened #69 "Deploy code to the RobotRIO. Demonstrate it runs on reboot."

[2015-01-21 01:03] CharlesCDietzel commented on #36
As far as i can tell, this was finished in #58. Closing.

[2015-01-21 01:03] #36 closed, assigned to Ahmad-Bamba

[2015-01-21 01:03] ZachPerkins1 opened #70 "Create datalogging of joystick and motor values"

[2015-01-21 01:14] ZachPerkins1 opened #72 "Vision algorithm exploration with several images of the totes"

[2015-01-21 01:17] ZachPerkins1 opened #73 "Implement ElevatorRaise & ElevatorLower commands"

[2015-01-21 01:19] PaolaHenriquez opened #74 "Latch Open and Close"
I'll start working on this when Calvin moves Latch to the correct file

[2015-01-21 01:23] CarlyAmar commented on #74
This is now in `master` so you can pick one of these to do and then assign it to yourself!  The other one should be a separate issue so that someone else can work on it

[2015-01-21 01:39] CharlesCDietzel opened #75 "Robot.cpp does not compile in master. Feeeexxxx eeettttt."

[2015-01-21 01:52] CharlesCDietzel commented on #75
Closing this.

[2015-01-21 02:51] CarlyAmar commented on #75
Champ, you closed/locked topic, but it has not been resolved. Are you actively working on this?

[2015-01-21 04:00] toastertaster commented on #74
I added comments to your branch `feature-latch`, so keep going on development @PaolaHenriquez

[2015-01-21 22:01] CharlesCDietzel commented on #75
Its.. a long story. Anyway, the reason i closed it is not actually valid anymore. So I'll reopen it.

[2015-01-21 22:23] CarlyAmar commented on #75
Ill fix it

[2015-01-21 22:29] #75 closed, assigned to CarlyAmar

[2015-01-22 21:07] CharlesCDietzel commented on #59
Finished with #76. Closing.

[2015-01-22 21:07] #59 closed, assigned to CDietzel

[2015-01-23 19:35] Alexbay218 opened #78 "Implement SmoothJoystick"
Done
(maybe not well, but done)

[2015-01-23 19:35] #78 closed, assigned to Alexbay218

[2015-01-23 19:51] CharlesCDietzel commented on #70
I genuinely cannot even begin to do this until Datalogging is put back in master.

[2015-01-23 19:51] CharlesCDietzel commented on #70
Shoot, did not mean to close that.

[2015-01-24 16:04] Ahmad-Bamba commented on #66
Alright so as far as I know, using a USB camera is impossible. I asked /r/frc though so this might change.

[2015-01-24 16:38] PaolaHenriquez commented on #74
Finished Latch!!

[2015-01-24 16:39] #74 closed, assigned to PaolaHenriquez

[2015-01-24 18:27] ZachPerkins1 opened #84 "Use PDB information to disable non-critical robot features if necessary"

[2015-01-24 18:57] #54 closed, assigned to calvin-godfrey

[2015-01-24 23:15] toastertaster commented on #29
I saw @ChampD do this today. Hooray!

[2015-01-24 23:15] #29 closed, assigned to CarlyAmar

[2015-01-24 23:17] toastertaster opened #88 "Update all CAN firmware on both sets of RobotRIO hardware."
Champ, when you do the second set, I want you to have 2 of the Freshmen do it with you guiding them over their shoulder.

[2015-01-24 23:18] toastertaster commented on #72
Doing a great job Swaraj!

[2015-01-24 23:18] toastertaster commented on #69
I was told this was done.

[2015-01-24 23:18] #69 closed, assigned to nobody

[2015-01-24 23:19] toastertaster commented on #51
@ggodfrey Did you think you got this done?  I think so.  Close if so.

[2015-01-25 03:14] calvin-godfrey commented on #51
I think I got it done. There's not any errors on it (that I know of) when Zack compiled it on his laptop.

[2015-01-25 03:53] toastertaster commented on #37
Moving this to week 4 because we're working on the elevator, but not ready for this yet.

[2015-01-25 21:35] toastertaster opened #89 "Create LatchOpen and LatchClose Commands"
I think Paola did this yesterday, but I don't see it in any recent GitHub commit where I see these files.  So please check to see the files get added.

[2015-01-25 21:41] toastertaster opened #90 "Deploy the master branch to the RobotRIO demo board ..."
And verify that we don't have any runtime errors yet for the robot code.

This needs to happen after Champ does #88 .

[2015-01-25 21:44] toastertaster commented on #68
@ZachPerkins1 are you working on this?  Why is it assigned to @Ahmad-Bamba if so.  Please assign it to yourself if you're already doing this.  Also push your commits so far so we can check it out.

[2015-01-25 21:45] toastertaster commented on #73
@ZachPerkins1 has done this.  I am closing this issue, but we might need to add more issues for enhancements.

[2015-01-25 21:45] #73 closed, assigned to ZachPerkins1

[2015-01-25 21:45] #51 closed, assigned to calvin-godfrey

[2015-01-26 02:05] WardBenjamin commented on #90
I will take care of this as soon as possible. At the moment, my copy of the code compiles fine, but I cannot verify that there is no runtime errors until we actually run it on the robot, as was said.

[2015-01-26 02:07] WardBenjamin commented on #34
@swarage has there been progress on this since you have begun? The deadline for the Week 2 Robot milestone is past due by 8 days, and I am fairly sure that this is currently the last unfinished issue that was slated to be finished then.

[2015-01-26 02:08] WardBenjamin commented on #35
I believe that at this point the relevant people have acquired licenses for all needed software. If I am incorrect, this issue can be reopened.

[2015-01-26 02:08] #35 closed, assigned to Ahmad-Bamba

[2015-01-26 02:10] WardBenjamin commented on #67
This is definitely a viable communication method, however what use could be had from this? If no large gain could be made from this, it may be a good idea to move on from this and focus on other tasks.

[2015-01-26 11:20] swarajd commented on #34
Yeah I'll probably get around to this step on Tuesday. The process is super simple and takes 5 minutes, so it shouldn't be that hard to do.

[2015-01-26 21:35] CarlyAmar commented on #65
So Ahmad's branch didnt work. I was working on it earlier, I'll try to get some done before the meeting, Ahmads Command Branch would time out the motor safety and then I made an iterative robot implementation that would not properly drive (but it did drive!)

[2015-01-26 23:35] toastertaster commented on #65
Okay! This warrants digging into the wpilib code to investigate. Thanks

[2015-01-27 02:49] CarlyAmar commented on #65
This has been completed with the Kitbot using TalonSR, but I want to try it with CANTalonSRX and using Commands. I did my test Iterative-Style. The Iterative-Style version is now in the kitbot branch, but we should make it into a command. READ THE COMMENTS!!! some important stuff we discovered is in there

[2015-01-28 02:17] toastertaster opened #92 "Command to move the robot based on camera information"
If we have a camera with a view of the tote, we'd ideally like to center the robot to the tote.  We could really use a `Command` that commanded the motors to move based on reading some variables from the NetworkTable.

For the first attempt, assume we get an `x` and `y` pixel coordinate and that we wish to move the robot such that `x` tends to a value `xDesired` and `y` tends to `yDesired`

Show m

[2015-01-28 02:21] toastertaster opened #93 "CommandGroup to approach the tote, latch the tote"
WPILib has a `CommandGroup` class that performs a series of individual `Command`s.  What we desire here is to show that we can drive forward (perhaps until the camera sees the tote centered as in #92 ) and then latch onto the tote.

See https://chantilly612code.github.io/612-2015/class_command_group.html for documentation

[2015-01-28 02:23] toastertaster opened #94 "Our second autonomous mode"
We only have one autonomous mode, so let's get another one made.

I leave it to your discretion as what the robot performs, but it should be more than the first autonomous mode.

[2015-01-28 02:27] toastertaster commented on #34
I'd like this done by COB Saturday, but feel free to get it done before the weekend.

[2015-01-28 02:28] toastertaster commented on #67
Did you find any other hardware LEDs to consider?  We'd have to order them soon in order to put them on the robot in time.

They are very cheap, so let's just plan on getting some.

[2015-01-28 02:29] toastertaster commented on #65
Are you doing this during the week or is this something happening this weekend?

[2015-01-28 02:31] toastertaster commented on #39
We need to make sure @PaolaHenriquez has a list of sponsors to post.  It doesn't have to be complete, but I want something added to the `README.md` by this weekend.  We'll adjust the list if sponsors change.

[2015-01-28 02:32] toastertaster commented on #47
No action on this for 10 days, so @JeffTolbert  please update us on what the plan is.

[2015-01-28 02:34] toastertaster commented on #68
Please push commits, I still don't see any on this and I'd like to review the code.

[2015-01-28 20:52] Alexbay218 opened #98 "Add OI Stuff"

[2015-01-28 20:52] #98 closed, assigned to Alexbay218

[2015-01-29 18:51] WardBenjamin commented on #47
Jeff hasn't been doing much recently, so I can take over this if he isn't going to complete it. This was due five days ago already.

[2015-01-30 03:37] #34 closed, assigned to swarajd

[2015-01-30 05:53] CarlyAmar commented on #65
Right now we are doing it with the Talon SRX. Almost got it working

[2015-01-30 17:52] swarajd commented on #34
The camera has been set up, and we can get a feed from smart dashboard, but one thing is that I haven't found is how to connect the camera feed from the usb camera to roborealm. I HAVE found out how to connect the axis camera, however.

[2015-01-30 18:03] Alexbay218 opened #101 "Inherit class SmoothJoystick frrom class OI"
Make it so that all joystick stuff should be from class OI.

[2015-01-30 18:18] WardBenjamin commented on #65
It seems to be working fine, excepting a few wheels that fell off courtesy of mechanical. The wheels have a fairly large degree of slippage, which we will probably have to compensate for with sensors during autonomous.

[2015-01-30 18:20] WardBenjamin commented on #92
I don't know when this will be completed, but I'm assigning this to swaraj because he is the one who knows the most about the camera, etc.

[2015-01-30 18:31] CarlyAmar opened #102 "Implement MotorSafetyHelper"
Make a print statement and allow us to check up on the motors by using drivetrain->m_safetyHelper and calling the appropriate functions. Make sure to enable the safety in the drivetrain constructor and to set expiration (it is a float measured in seconds) and make it a variable declared in RobotMap.h

So:
Check and print if it is alive
Set the safety
Set the expiration

[2015-01-30 18:44] Ahmad-Bamba commented on #94
About autonomous, this really should be a command group. So while we don't have vision working quite yet, it doesn't mean we can't brainstorm what tiny commands our second autonomous can have.

[2015-01-30 19:56] CarlyAmar opened #108 "Debug the MotorSafetyHelper Timeout"
There is an issue where the code crashes because of a timeout in motor safety. We need to keep the safety on because if we don't have it on, it can lose control.

[2015-01-30 19:57] Alexbay218 commented on #101
Finally Done!
Look at the pull requests

[2015-01-30 19:57] #101 closed, assigned to Alexbay218

[2015-01-30 19:59] Alexbay218 opened #109 "Implement sensors"
Add sensors and stuff

[2015-01-30 20:11] WardBenjamin commented on #90
The code seems to deploy and run correctly on both the kitbot and the practice board, excepting a few runtime errors on the practice board because it lacks the full suite of motor controllers.

[2015-01-30 20:14] WardBenjamin commented on #108
If you assign yourself or someone else, don't forget to remove the `help-wanted` label.

[2015-01-30 20:16] WardBenjamin commented on #90
Reopening because the code fails because of MotorSafety timeouts after a few minutes, inconsistantly.

[2015-01-30 20:21] #70 closed, assigned to WardBenjamin

[2015-01-31 02:51] WardBenjamin commented on #92
I am going to add a template for this so that I can complete the command group, but will leave it empty so that swaraj can fill it in.

[2015-01-31 03:52] nls5260 commented on #108
I dont know i this may help but I found this forum post on the FIRST website forum on this issue

http://forums.usfirst.org/showthread.php?24030-C-Need-Help!

[2015-01-31 14:47] CarlyAmar commented on #65
Except when it crashes almost every time

[2015-01-31 15:19] calvin-godfrey commented on #65
Page 34-35 [here](http://users.wpi.edu/~bamiller/WPILib/WPILib.pdf) has some sample code to drive in a straight line even if it gets bumped left/right.

[2015-01-31 16:14] CarlyAmar commented on #102
We need to do the IsAlive() function to check and print in the case of a timeout. Do this in a later commit

[2015-01-31 16:33] nls5260 commented on #39
I submitted a pull request #122 that resolves this issue

[2015-01-31 16:45] Alexbay218 commented on #109
You done yet?

[2015-01-31 18:43] nls5260 commented on #67
After talking to Dr. Axtell we decided to use Flora Neopixel Rings.

[2015-01-31 19:02] #39 closed, assigned to nls5260

[2015-01-31 20:09] WardBenjamin commented on #108
Complete as per http://www.chantillyrobotics.org/forum/index.php/topic,906.0.html and https://github.com/Chantilly612Code/612-2015/commit/1be074ae9fd43d7945c5399dafd5dab22e881bf4.

[2015-01-31 20:09] #108 closed, assigned to Ahmad-Bamba

[2015-01-31 20:09] WardBenjamin commented on #102
Complete as per http://www.chantillyrobotics.org/forum/index.php/topic,906.0.html and https://github.com/Chantilly612Code/612-2015/commit/1be074ae9fd43d7945c5399dafd5dab22e881bf4

[2015-01-31 20:09] #102 closed, assigned to PaolaHenriquez

[2015-01-31 20:14] Ahmad-Bamba opened #123 "Invert Axis method in SmoothJoystick"
Paola and I will make this happen.

[2015-01-31 21:38] nls5260 commented on #67
Even though Jeff posted this in the forum, this is the board that we need to purchase in order to use the flora neopixel ring lights.
http://www.andymark.com/product-p/am-2996.htm&Click=35018

[2015-02-03 01:53] ghost opened #124 "Fix Gyroscope class"
Needs to add fmod to getAngle function because otherwise it will return headings of like 1000 by end of game

[2015-02-03 23:39] Ahmad-Bamba commented on #123
Apparently this was figured out? So I'll just close this issue.

[2015-02-03 23:39] #123 closed, assigned to PaolaHenriquez

[2015-02-03 23:46] saileshsridhar commented on #123
Have the LED's been configured?

On Tuesday, February 3, 2015, Ahmad-Bamba notifications@github.com wrote:

[2015-02-04 03:13] CarlyAmar commented on #123
This is the wrong issue for LED's

[2015-02-04 19:53] CharlesCDietzel commented on #65
Has any progress on this been made?

[2015-02-04 19:58] DavidFiumano opened #126 "Teleop-Auto-Align"
This is a command group, and commands will be called with a button press. This means implement a failure message so that drivers can see if they need to get closer. Ben will push a branch and will merge it into operator interface. But go nuts while were working on it! Less than 2 weeks people!

[2015-02-04 20:33] calvin-godfrey commented on #65
No progress on accounting for slippage that I know of.

[2015-02-04 20:35] CharlesCDietzel opened #127 "Drivetrain needs to be able to switch between IR/ultrasonic sensors for distance..."
...depending on which one is more accurate at the distances that are being measured. I believe that I _may_ have heard someone say that Jeff is currently working to figure out at what range the IR sensor and ultrasonic are equal in accuracy. I do not know if this is true, however.

[2015-02-04 20:49] CharlesCDietzel opened #128 "Use IR sensors on end of fork to determine crate alignment."
So what Zack said is that the forks of the robot have IR sensors on the bottom, which are facing directly down. If these sensors are able to see the ground, the tote is properly aligned with the forks. If only one is able to see the ground, and the other is seeing the tote, is is misaligned. Make a method to determine if the elevator is aligned.

[2015-02-04 20:52] CharlesCDietzel opened #129 "Use the hall effect sensors on the wheels to measure rate of rotation."
Control rotation speed with a PID loop using canTalonSRX.

[2015-02-06 00:49] CharlesCDietzel commented on #124
So this is done in #125. Closing.

[2015-02-06 00:49] #124 closed, assigned to CDietzel

[2015-02-07 15:46] #89 closed, assigned to WardBenjamin

[2015-02-07 15:49] #109 closed, assigned to ZachPerkins1

[2015-02-07 16:08] toastertaster commented on #84
This is in `onhold-powermanagement` but not a priority at this time.  Reopen when it is.

[2015-02-07 16:08] #84 closed, assigned to ZachPerkins1

[2015-02-07 16:36] toastertaster commented on #90
Done!!!!!!!!

[2015-02-07 16:36] #90 closed, assigned to Ahmad-Bamba

[2015-02-07 16:36] toastertaster commented on #88
Assumed done!  @ChampD please let us know if this is not the case.

[2015-02-07 16:36] #88 closed, assigned to CDietzel

[2015-02-07 16:37] toastertaster commented on #37
This is an umbrella issue now, so since there are other issues about this, I am closing this one.  Good progress is being made.

[2015-02-07 16:37] #37 closed, assigned to DavidFiumano

[2015-02-07 16:44] Alexbay218 commented on #126
![autoalignvisualization](https://cloud.githubusercontent.com/assets/9091117/6092827/95cd2664-aebe-11e4-9ece-212ac23821c0.png)
This might help

[2015-02-07 16:58] Alexbay218 commented on #126
We could be fancy and curve it:
![autoalignvisualization complex](https://cloud.githubusercontent.com/assets/9091117/6092909/a84a05f8-aec0-11e4-8131-27af82feb075.png)

[2015-02-07 18:46] Alexbay218 commented on #126
Research the trigonometry aspect:
![autoaligntrigonometry](https://cloud.githubusercontent.com/assets/9091117/6093373/95b8c5f0-aecf-11e4-8dca-070ca979c0a0.png)
we could use sensors to help.

[2015-02-07 20:59] #127 closed, assigned to nobody

[2015-02-07 21:00] calvin-godfrey commented on #128
Done!

[2015-02-07 21:00] #128 closed

[2015-02-08 01:08] #47 closed, assigned to nobody

[2015-02-08 01:11] #67 closed, assigned to nls5260

[2015-02-10 00:52] calvin-godfrey commented on #68
Looks like it's done

[2015-02-10 00:52] #68 closed, assigned to ZachPerkins1

[2015-02-11 00:38] Alexbay218 opened #145 "Autonomous-Auto-Align"

[2015-02-11 00:38] Alexbay218 commented on #145
![autoaligntrigonometry](https://cloud.githubusercontent.com/assets/9091117/6139684/71d1aae6-b15c-11e4-8137-37568e8ccaa4.png)
![autoalignvisualization complex](https://cloud.githubusercontent.com/assets/9091117/6139685/71d2fb3a-b15c-11e4-87a3-33c426dcb554.png)
![autoalignvisualization](https://cloud.githubusercontent.com/assets/9091117/6139686/71d5920a-b15c-11e4-83d2-a6215b0d9a19.png)
![measuringt

[2015-02-11 01:44] Alexbay218 commented on #145
unneeded

[2015-02-11 01:44] #145 closed, assigned to nobody

[2015-02-11 01:44] Alexbay218 commented on #126
![measuringtoteangle](https://cloud.githubusercontent.com/assets/9091117/6140427/91978568-b165-11e4-9ffa-13a41073d29a.png)

[2015-02-13 00:45] Alexbay218 opened #150 "Detecting breaker flip"
There is a motor that will flip the breaker when it draws to much power.

We need to detect if the breaker is flipped by measuring the current the PDB draws, by detecting when a sudden current drop occurs.

Occurs in the elevator motor.

Use a encoder value and a timer to test if the component is moving. If not, the tell PID to stop moving.

May be a mechanical issue.

[2015-02-13 12:25] ghost commented on #150
This should be one of the last pieces of code we right because if mechanical does their job this shouldn't even happen.

[2015-02-13 13:10] CarlyAmar commented on #150
I want to have something like this implemented whenever we aren't working on anything else. This could be a general feature that can be implemented in multiple motors as a general safety to be reused yearly.

[2015-02-13 15:19] ghost commented on #150
Agreed, I just want everyone to keep priorities for last few days of build season.

[2015-02-13 15:20] ghost commented on #145
Unneeded for now but might implement later if we have time or as  an off season project

[2015-02-13 15:24] ghost opened #152 "Merge branches so we don't have so many!!!"
We shouldn't have 25 branches. We need to consolidate even if it takes a few hours because otherwise we will spend a lot more time in testing/debugging of code when we actually get the robot.

[2015-02-13 15:25] ghost commented on #126
I like the diagrams!

[2015-02-13 15:27] ghost commented on #92
Changed to help wanted because swaraj doesn't come to enough meetings. Also this is not high priority before bag and tag.

[2015-02-13 15:29] ghost opened #153 "Pixy Cam Algorithm"
Using Bounding box size and coordinates of yellow crate to determine the x offset, y offset, and the relative angle of the create.

[2015-02-13 15:30] ghost opened #154 "Pixy Cam to RobotRio communications"
We need a class for the pixy cam or the arduino that allows the two devices to interface with the robotrio during autonomous. This will probably use SPI or I2C.

[2015-02-13 15:52] Ahmad-Bamba commented on #154
This is something that I was really looking forward to working on. Can I learn the arduino code and help you out?

[2015-02-13 23:30] CharlesCDietzel commented on #153
YASSSS. Dis is gud, I need this for auto align.

[2015-02-13 23:35] CharlesCDietzel commented on #92
Swaraj, Follow rule 1! All day Erey' Day!

[2015-02-14 20:08] ghost opened #165 "Elevator Lift Tolerance"
We need a tolerance for isFinished for the elevator loft command because otherwise it will never end. Please fix this Not Zack

[2015-02-14 20:17] ghost opened #166 "totenavgroup"
The logic for totenavgroup  command in master is slightly flawed. We want to open forks before driving to tote because otherwise we will push totes. Please change that someone.

[2015-02-15 18:40] CharlesCDietzel commented on #92
This sounds pretty much identical to what I am going for with #126. So I am going to just assign this to myself to do alongside that.

[2015-02-15 19:12] calvin-godfrey commented on #126
I saw your comments in your branch, and it said that it could potentially align to the short side. How would you change it to make sure it aligns to the long side? (I'm assuming that we can only pick it up from the long side).

[2015-02-15 19:25] CharlesCDietzel commented on #126
You would just need to ensure that when you passed in the two corners of the tote to align to, they were  along a long tote side. That would need to be done in the part of the code that actually gets the tote position, which is going to be done completely separately from this command. Probably in vision. I think that either Ahmad or Jeff were planning on doing that part.

[2015-02-17 16:13] CharlesCDietzel commented on #165
Yo, Fixed this in bugfix-warehouse branch, which should be pushed into master sometime soon.

[2015-03-04 20:00] CharlesCDietzel commented on #165
Bugfix warehouse was pushed so long ago its nuts. I don't even remember when i fixed this. Anyway, I'm gonna close this issue.

[2015-03-04 20:00] #165 closed, assigned to CDietzel

[2015-03-04 20:04] CharlesCDietzel commented on #150
This was fixed in hardware. Closing.

[2015-03-04 20:04] #150 closed, assigned to Alexbay218

[2015-03-04 20:06] CharlesCDietzel commented on #129
Well, shoot. Ben seems to have made a grand total of zero progress on this; so i will assign it to myself, so that it gets done along with autonomous and autoalign.

[2015-03-04 20:07] CharlesCDietzel commented on #126
Ey, Alexshaunbaywu, get on dis.

[2015-03-04 20:10] CharlesCDietzel commented on #94
Well, this was sort of done at competition, when Zack wrote a sideways autonomous in the constructor of autonomous Simple. You just have to pass true as the third value in the constructor and it goes sideways. So ima close dis.

[2015-03-04 20:10] #94 closed, assigned to calvin-godfrey

[2015-03-04 20:12] CharlesCDietzel commented on #93
93.6% sure this will be done with auto align. Therefore closing this due to redundancy.

[2015-03-04 20:12] #93 closed, assigned to WardBenjamin

[2015-03-04 20:14] CharlesCDietzel commented on #92
Eh, closing due to redundancy. Srsly folks, stop making so many issues that are the same.

[2015-03-04 20:14] #92 closed, assigned to CDietzel

[2015-03-04 20:15] CharlesCDietzel commented on #72
Gosh dangit, guys. This is the third practically identical issue about vision. Closing due to redundancy.

[2015-03-04 20:15] #72 closed, assigned to swarajd

[2015-03-04 20:16] CharlesCDietzel commented on #65
Its good enough that it is no longer a priority. When we implement encoder based movement, this should pretty much end up as a part of that. Closing this.

[2015-03-04 20:16] #65 closed, assigned to CarlyAmar

[2015-03-07 14:58] CharlesCDietzel commented on #166
So, this class and this set of methods were never really implemented. I feel like this means this issue is kind of completely invalid and can be closed. This is why i am now closing it.

[2015-03-07 14:58] #166 closed, assigned to CDietzel

[2015-03-07 15:11] CharlesCDietzel opened #172 "Make improved autonomous"
With multiple modes using encoder input for distance instead of timers. It should have a mode that moves straight forward and pushes a tote in front, a mode that moves sideways and pushes a tote in the forks, and if possible, a three tote autonomous. It could also have other modes if you feel there is any other ones that need to be made. It would preferably use vision or other sensors for tote ali

[2015-03-07 17:29] toastertaster commented on #152
Why have a branch or two when twenty will do?

[2015-03-07 17:29] #152 closed, assigned to CarlyAmar

[2015-03-07 17:41] CarlyAmar commented on #152
Working on it

[2015-03-09 22:18] CarlyAmar opened #175 "Flight Sticks switching"
We need to be able to switch between using flight sticks and using joysticks for the drivers

[2015-03-09 22:19] CarlyAmar opened #176 "Gradual Drive Increase"
The drivetrain will speed up gradually when the driver pushes forward.

[2015-03-09 22:20] CarlyAmar opened #177 "Automatic Alignment"
We have 2 long range IR's and the pixycams to do this

[2015-03-09 22:20] CarlyAmar opened #178 "Autonomous"
I'll post more about auto routines here

[2015-03-09 22:22] CarlyAmar commented on #178
To do this we need to finish #177 to get auto alignment

[2015-03-09 22:22] CarlyAmar commented on #178
After we get auto alignment, we need to navigate the field using the Nav board and the encoders

see #179

[2015-03-09 22:22] CarlyAmar commented on #178
After we get navigation, we need to test how to push away trash cans using the roller wheels

See #180

[2015-03-09 22:23] CarlyAmar commented on #178
After we push away cans, we can use encoders, an IR and an US to lift up crates and stack them as we move

See #181

[2015-03-09 22:23] CarlyAmar commented on #178
After that we need to bring the full stack into the auto zone

[2015-03-09 22:24] CarlyAmar commented on #178
This needs to be implemented incrementally because we don't actually know how many totes we can hold with the new forks. This means 1 bin, 2 bin, 3 bin with options to either carry the stack or just push it

[2015-03-09 22:26] CarlyAmar commented on #177
We need this to do #178 : Autonomous for picking up crates and we may also use this in teleop attached to a button

[2015-03-09 22:27] CarlyAmar commented on #176
I'm thinking that I'm going to implement this using the PID controller with a large 'I' value

[2015-03-09 22:30] #129 closed, assigned to CDietzel

[2015-03-09 22:31] CarlyAmar commented on #177
See: #126

[2015-03-09 22:31] #66 closed, assigned to Ahmad-Bamba

[2015-03-09 22:33] CarlyAmar opened #179 "Calibrate and Test Encoders and Nav Board"
Needed for #178 navigation

[2015-03-09 22:35] CarlyAmar opened #180 "Test pushing away bins with wheels"
Needed for #178

This can be done by adding the talons for the wheels and then testing when the second bot is finished

[2015-03-09 22:36] CarlyAmar opened #181 "Lifting crates at a measured height using encoders, US and IR"
Do you even lift brah?

[2015-03-09 22:36] CarlyAmar commented on #181
Needed for #178

[2015-03-09 23:42] CharlesCDietzel commented on #175
This is implemented in dev-flightstick. To toggle flight stick functions, simply comment out line 8 in robotmap.h. Uncomment it to reenable xbox controller. I'm going to close this.

[2015-03-09 23:42] #175 closed, assigned to CDietzel

[2015-03-09 23:42] CarlyAmar commented on #181
What we need to do for this is have a command group that will perform multiple functionalities.
1. Be able to move the forks to the correct height
2. Be able to pick up crates (this may require to move a bit forward or back and fire the solenoid then move up a bit
3. be able to put a crate down on a stack then pick them up
4. be able to put crate down, rotate around the stack (later will push forw

[2015-03-10 00:29] Alexbay218 commented on #153
![untitled](https://cloud.githubusercontent.com/assets/9091117/6567257/e04d78a8-c69a-11e4-9435-2a3759c738e6.png)

Dis good fo dah algorithm

[2015-03-11 18:42] CarlyAmar opened #184 "Put Pixycam data into roboRIO"
We need to be able to get the data collected by the pixycam into the roboRIO so it can be used by the auto align alogorithm

[2015-03-11 18:46] #184 closed, assigned to nobody

[2015-03-11 18:46] CarlyAmar commented on #184
This is already an open issue

[2015-03-14 14:19] calvin-godfrey commented on #177
So I graphed how the ratio of width/height changes based on the angle.

![image](https://cloud.githubusercontent.com/assets/10409392/6652273/e29debd0-ca3f-11e4-8dc0-463bd3fa81be.png)

and the python code I used to make this is:

[code]

[2015-03-14 15:37] CarlyAmar opened #185 "Accurate Lifting"
The lifting has been complicated by an overlooked fact that it is an exponential increase due to the tape wrapping on itself.

[2015-03-14 15:39] CarlyAmar commented on #185
1) Test IR+US for accuracy and switching
2) Test Recorded height vs actual height
3) define rotations for inches ratio at every height
4) Develop method in testperiodic to autocalibrate the lift
5) write the manually and IRUS recorded values to preferences

[2015-03-20 19:55] calvin-godfrey commented on #177
This doesn't completely work. I'm doing some testing and I think there's some cases where it returns a nonreal answer which will return an error.

[2015-03-23 01:14] ZachPerkins1 opened #192 "Have the Arduino effectively transfer camera information to the RoboRio over I2C"
This should have been an issue a long time ago. I'm making it now so I have something to tag in my commits.

[2015-03-23 01:16] WardBenjamin commented on #192
This issue is already marked, actually. See https://github.com/Chantilly612Code/612-2015/issues/154 for more details.

[2015-03-23 01:16] #192 closed, assigned to ZachPerkins1

[2015-03-23 02:08] ZachPerkins1 commented on #192
Thanks, didn't see that!

[2015-03-24 00:35] calvin-godfrey commented on #179
[Here is a link](https://code.google.com/p/navxmxp/source/browse/#svn%2Ftrunk%2Froborio%2Fc%2B%2B%2FnavXMXP_CPlusPlus_RobotExample%2Fsrc) to code that we can use. Not sure how to implement this.

[2015-04-04 19:29] CharlesCDietzel commented on #180
So... the wheels have been temporarily/permanently removed from the robot, so i am going to close this issue for now, as it is rather difficult to test hardware that is not there.

[2015-04-04 19:29] #180 closed, assigned to CDietzel

[2015-04-04 19:31] CharlesCDietzel commented on #179
Get on this guys. You have actually been working on this one task for like a month now. you should be done.

[2015-04-04 19:36] CharlesCDietzel commented on #176
Uh, did this ever happen? I'm thinking that this might not actually be necessary with the throttling of the drive train that we implemented with the flight stick. Not going to close this yet, because I want other opinions on whether it is still a requirement.

[2015-04-04 19:37] CharlesCDietzel commented on #154
Good job guys! Hoping to see this working at some point in the near future.

[2015-04-11 19:46] PaolaHenriquez commented on #179
Testing calibration is done!! Now for the code!

[2015-05-13 19:11] CharlesCDietzel commented on #181
Heh. Do you want to know what's cool. Its cool how none of this will ever actually get done. That's whats cool.

[2015-05-27 19:27] CharlesCDietzel commented on #179
This is sufficiently done that I don't care anymore. Closing.

[2015-05-27 19:27] #179 closed, assigned to PaolaHenriquez

[2015-06-03 19:43] CharlesCDietzel commented on #185
Well. I am 95.386% sure I know why the US sensor was super inaccurate. Its because of the fact that since the US senses distance in a cone, It was picking up the robot's frame as the elevator went up, instead of the ground. This is a problem. It actually seems like if the sensor did not have that problem, It would have worked perfectly. So that's something for next year, make sure that the sensors